.about > h1 {
  display: flex;
  justify-content: center;
}

.backgroundAbout {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  background-color: rgb(88, 88, 88);
  height: 300px;
}

.backgroundAbout p {
  color: #ffffff;
  padding: 10px 50px;
  display: flex;
  text-align: justify;
}

@media (max-width: 600px) {
  .backgroundAbout {
    height: 600px;
  }
}
