.about > h1 {
  display: flex;
  justify-content: center;
}

.background {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  background-color: rgb(88, 88, 88);
}

.background p{
    color: #ffffff;
    padding: 10px 100px;
}

.about > p {
  padding: 20px 0;
  display: flex;
  text-align: justify;
}

@media (max-width: 530px) {
  .about {
    padding: 20px 40px;
  }

  .about > p {
    padding: 5px 0;
  }
}
