.conversor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: inherit; /* Opcional: mantém a cor do texto herdada */
}

.inputs {
  display: flex;
}

.inputsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputsContainer input,
select {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.inputsContainer .inputValor {
  display: flex;
  text-align: center;
  width: 90%;
}

.inputs .from,
.inputs .to {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 20px;
  padding: 10px 200px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

h3 {
  margin-top: 20px;
  font-size: 18px;
}

.resultado {
  display: none;
}

@media (max-width: 530px) {
  .inputsContainer {
    /* height: 45vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  select {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 80vw;
  }
  .inputsContainer .inputValor {
    display: flex;
    text-align: center;
    width: 50%;
  }
  .inputs {
    flex-direction: column;
  }
  .inputs .from,
  .inputs .to,
  .inputsContainer .inputValor,
  .button,
  .resultado{
    margin-top: 30px;
  }
  .inputs select,
  .inputsContainer .inputValor{
    height: 50px;
    border-radius: 2px;
  }
  .conversor a{
    background-color: rgba(122, 122, 122,.5);
    padding: 40px 5px;
    border-radius: 7px;
  }
  .button {
    /* margin-top: 20px; */
    padding: 10px 100px;
  }
}
@media (max-width: 350px) {
  .button {
    margin-top: 20px;
    padding: 10px 80px;
  }
}
