/* Container principal */
.conversor-container {
  text-align: center;
  margin-top: 50px;
}

/* Input e Seletores */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-value {
  margin: 200px;
}

.moedas-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

input[type="number"],
select {
  display: flex;
  justify-content: center;
  text-align: center !important;
  
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 50vw;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;

  -webkit-appearance: none;  /* Para Safari e outros navegadores baseados em WebKit */
  -moz-appearance: none;     /* Para Firefox */
  appearance: none;          /* Para outros navegadores */
}

/* Botão de inverter moedas */
.inverter-btn {
  background-color: rgb(164, 167, 170);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.inverter-btn > img{
  display: block;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
}

/* Botão principal */
.converter-btn {
  margin-top: 20px;
  padding: 10px 200px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.converter-btn:hover {
  background-color: #45a049;
}

/* Resultado */
h3 {
  margin-top: 20px;
  font-size: 18px;
}
/* Responsividade */
@media (max-width: 530px) {
  select {
    padding: 15px;
    width: 80vw;
    height: 80px;
  }
  input[type="number"]{
    height: 50px;
  }
  .converter-btn {
    padding: 10px 100px;
  }
}

@media (max-width: 350px) {
  .converter-btn {
    padding: 10px 80px;
  }
}
