.conversor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: inherit; /* Opcional: mantém a cor do texto herdada */
}

.inputs {
  display: flex;
}

.inputsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputsContainer input,
select {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.inputsContainer .inputValor {
  display: flex;
  text-align: center;
  width: 90%;
}

.inputs .from,
.inputs .to {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 20px;
  padding: 10px 200px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

h3 {
  margin-top: 20px;
  font-size: 18px;
}

.resultado {
  display: none;
}

@media (max-width: 530px) {
  .inputsContainer .inputValor {
    display: flex;
    text-align: center;
    width: 50%;
  }
  .inputs {
    flex-direction: column;
  }
  .button {
    margin-top: 20px;
    padding: 10px 100px;
  }
}
